@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
    --spacing-0: 0px;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-1000: 80px;
    --spacing-1200: 96px;
    --spacing-1500: 120px;
    --spacing-1600: 128px;

    --white: #FFFFFF;
    --black: #000000;

    --grey-600: #3D6666;
    --grey-550: #547878;
    --grey-500: #5E7A7D;
    --grey-400: #7F9D9F;
    --grey-300: #9EBBBD;
    --grey-200: #C5E4E7;
    --grey-50: #F3F9FA;

    --green-900: #00474B;
    --green-800: #085C61;
    --green-750: #0D686D;
    --green-400: #26C2AE;
    --green-200: #9FE8DF;

    --orange-400: #E17052;

    /* Typography tokens */
    --font-size-xl: 48px;
    --font-size-lg: 32px;
    --font-size-md: 24px;
    --font-size-sm: 20px;
    --font-size-base: 16px;
    --font-size-xs: 13px;

    --line-height-xl: 71px;
    --line-height-lg: 47px;
    --line-height-md: 36px;
    --line-height-sm: 30px;
    --line-height-base: 24px;
    --line-height-xs: 19px;

    --letter-spacing-tight: -1px;
    --letter-spacing-snug: -0.67px;
    --letter-spacing-normal: 0;

    --font-weight-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--grey-200);
}

.header {
    display: flex;
    justify-content: center;
    padding-bottom: 41px;
    padding-top: 41px;
}

.calculator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-400) var(--spacing-300);
    border-radius: 25px 25px 0 0;
    background-color: var(--white);
}

.calculator__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

.calculator__bill {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    padding: 0 var(--spacing-100);
}

.calculator__bill-header {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.calculator__bill-label {
    color: var(--grey-500);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-normal);
}

.calculator__bill-input {
    padding: var(--spacing-100) var(--spacing-200) var(--spacing-100) var(--spacing-400);
    border-radius: 5px;
    border: 1px solid var(--grey-300);
    background-color: var(--grey-50);
    background-image: url('./images/icon-dollar.svg');
    background-repeat: no-repeat;
    background-position: var(--spacing-200) center;
    text-align: right;
    color: var(--green-900);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-md);
    letter-spacing: var(--letter-spacing-normal);
}

.calculator__bill-input:focus {
    outline: 1px solid var(--green-400);
}

.calculator__tip-selection {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.calculator__tip-options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-200);
}

.calculator__tip-label {
    color: var(--grey-500);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-normal);
}

.calculator__tip-button {
    width: 100%;
    padding: var(--spacing-100) var(--spacing-200);
    border-radius: 5px;
    background-color: var(--green-900);
    color: var(--white);
    outline: none;
    font-family: 'Space Mono', monospace;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-md);
    letter-spacing: var(--letter-spacing-normal);
}

.calculator__tip-input {
    width: 100%;
    font-family: 'Space Mono', monospace;
    padding: var(--spacing-100) var(--spacing-200);
    border-radius: 5px;
    border: none;
    background-color: var(--grey-50);
    color: var(--green-900);
    text-align: center;
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-md);
    letter-spacing: var(--letter-spacing-normal);
}

.calculator__tip-input::placeholder {
    color: var(--grey-550);
}

.calculator__people {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.calculator__people-label {
    color: var(--grey-500);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-normal);
}

.calculator__people-input {
    padding: var(--spacing-100) var(--spacing-200) var(--spacing-100) var(--spacing-400);
    border-radius: 5px;
    border: 1px solid var(--grey-300);
    background-color: var(--grey-50);
    background-image: url('./images/icon-person.svg');
    background-repeat: no-repeat;
    background-position: var(--spacing-200) center;
    text-align: right;
    color: var(--green-900);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-md);
    letter-spacing: var(--letter-spacing-normal);
}

.calculator__people-input:focus {
    outline: 1px solid var(--green-400);
}

.calculator__results {
    padding: var(--spacing-300);
    border-radius: 15px;
    background-color: var(--green-900);
}

.calculator__results-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}

.calculator__results-details {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
}

.calculator__result-row {
    display: flex;
    justify-content: space-between;
}

.calculator__result-label {
    display: flex;
    flex-direction: column;
}

.calculator__result-title {
    color: var(--white);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-normal);
}

.calculator__result-subtitle {
    color: var(--grey-400);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-xs);
    letter-spacing: var(--letter-spacing-normal);
}

.calculator__result-value {
    color: var(--green-400);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-lg);
    letter-spacing: var(--letter-spacing-snug);
}

.calculator__reset-button {
    padding: var(--spacing-100) var(--spacing-400);
    border-radius: 5px;
    background-color: var(--green-400);
    color: var(--green-900);
    outline: none;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-sm);
    letter-spacing: var(--letter-spacing-normal);
}

@media (min-width: 768px) {
    .calculator {
        max-width: 608px;
        margin-left: auto;
        margin-right: auto;
        padding: var(--spacing-600) var(--spacing-1000);
        border-radius: 25px;
    }

    .calculator__content {
        gap: var(--spacing-500);
    }

    .calculator__bill {
        padding: 0;
        gap: var(--spacing-300);
    }

    .calculator__tip-options {
        grid-template-columns: repeat(3, 1fr);
    }

    .calculator__result-value {
        font-size: var(--font-size-xl);
        line-height: var(--line-height-xl);
        letter-spacing: var(--letter-spacing-tight);
    }
}